@font-face {
    font-family: 'MaisonNeue-Demi';
    src: url('/fonts/MaisonNeue-Demi.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MaisonNeue-book';
    src: url('/fonts/MaisonNeue-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MaisonNeue-Bold';
    src: url('/fonts/MaisonNeue-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


