/* Made by Damien Sjoer */
/* Made by Damien Sjoer */
.light {
  font-family: "Maison Neue Light", Calibri, Arial, Roboto, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.book {
  font-family: "Maison Neue Book", Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.medium {
  font-family: "Maison Neue Medium", Calibri, Arial, Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bold {
  font-family: "Maison Neue Bold", Calibri, Arial, Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.demi {
  font-family: "Maison Neue Demi", Calibri, Arial, Roboto, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Made by Damien Sjoer */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  word-wrap: normal;
  -webkit-box-sizing:inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	margin:0px;
	padding:0px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f2f2f2;
}

.submission-step-stage {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 150px;
  padding-left: 10px;
  line-height: 30px;
  display: block;
  background-color: #333333;
  color: #fff;
  border-radius: 0px 5px 0px 0px;
}
.intro header img{
	height:100px;
}
.intro-video {
  height: 810px;
  width: 100%;
  background-color: #363636;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  overflow: hidden;
}
.intro-video .video-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 810px;
  width: 100%;
  z-index: 10;
  background-color: rgba(52, 52, 52, 0.8);
}
.intro-video video {
  width:100%;
  height:100%;
}
.intro-video .close-video-intro {
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 999;
  font-size: 40px;
  display: none;
}

.video-active-focus {
  z-index: 998;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  margin: 0px;
}
.video-active-focus video{
	cursor: url('../gfx/close-video-cross.png?v1'), default;
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}
.video-active-focus .video-overlay {
  display: none;
}
.video-active-focus .close-video-intro {
  display: block;
  cursor: pointer;
}

.check-updates {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 800;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: none;
}

.standard-box {
  background-color: #fff;
  padding: 50px 60px 0px 60px;
  max-width: 1224px;
  width: 100%;
  min-height: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.dark-box {
  background-color: #333333;
  padding: 45px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.main-nav {
  /*max-width: 1234px;
  width: 100%;
  padding-bottom: 60px;*/
    max-width: 1284px;
    width: 95%;
    position: absolute;
    padding-left: 5%;
    left: 0px;
    background-color:#fff;
}
.main-nav ul li {
  display: inline-block;
  vertical-align: top;
  padding-right: 40px;
}
.main-nav ul li a {
  font-size: 17px;
  line-height: 30px;
  color: #9e9e9e;
  transition: all linear 0.2s;
}
.main-nav ul li a:hover, .main-nav ul li.active a, .main-nav ul li .active a {
  color: #333333;
  text-decoration: underline;
  transition: all linear 0.5s;
}
.main-nav button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  width: 300px;
  height: 50px;
  background-color: #25ddb3;
  border: none;
  font-size: 24px;
  color: #fff;
  float: right;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  margin-top: -10px;
  opacity: 0;
  transition: opacity linear 0.3s;
}
.main-nav span {
  float: right;
  font-size: 17px;
  color: #9e9e9e;
  text-decoration: underline;
  margin-right: 35px;
  line-height: 30px;
  opacity: 0;
  transition: opacity linear 0.3s;
}
.main-nav.cloned{
	top: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 20px !important;

}
.main-nav.cloned button {
  opacity: 1;
  transition: opacity linear 0.3s;
  margin-right:30px;
}
.main-nav.cloned button a{
 color:#fff;
}

.main-nav.cloned span {
  opacity: 1;
  transition: opacity linear 0.3s;
}
.main-nav.cloned span a{
  opacity: 1;
  transition: opacity linear 0.3s;
  color:#9e9e9e;
}


/* -------------------------------- begin main container -------------------------------------*/
.main-container {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.main-container .check-document {
  position: absolute;
  top: 30px;
  right: 55px;
  width: 600px;
}
.main-container .check-document button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  width: 300px;
  height: 50px;
  background-color: #25ddb3;
  border: none;
  font-size: 24px;
  color: #fff;
  float: right;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
}
.main-container .check-document button a{
	color:#fff;
	text-decoration:none;
}
.main-container .check-document span {
  float: right;
  font-size: 17px;
  color: #9e9e9e;
  text-decoration: underline;
  margin-right: 35px;
  line-height: 50px;
  cursor:pointer;
}
.main-container .check-document span a{
	color:#9e9e9e;
}

.intro {
  height: 700px;
}
.intro h1 {
  color: #eeeeee;
  font-size: 200px;
  line-height: 180px;
}
.intro p {
  font-size: 30px;
  line-height: 50px;
  color: #eeeeee;
  padding-top: 130px;
}

.organisatie {
  max-width: 1344px;
  width: 100%;
 
}
.organisatie article h2 {
  font-size: 100px;
  line-height: 100px;
  color: #333333;
  width: 92%;
  padding-top:100px;
}
.organisatie article p {
  font-size: 30px;
  line-height: 30px;
  width: 60%;
  padding: 110px 0px 140px 0px;
  display: block;
}
.organisatie article p a {
  color: #25ddb3;
  text-decoration: underline;
}
.organisatie .dark-box {
  width: 42.8%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 600px;
  margin: 1% 0px;
}
.organisatie .dark-box span {
  font-size: 560px;
  line-height: 690px;
  color: #666666;
  font-family: Helvetica;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
}
.organisatie .dark-box h5 {
  font-size: 90px;
  line-height: 90px;
  color: #eeeeee;
  position: relative;
  padding-bottom: 67px;
}
.organisatie .dark-box p {
  font-size: 45px;
  line-height: 54px;
  color: #eeeeee;
}
.organisatie .dark-box article {
  position: absolute;
  bottom: 0px;
  left: 60px;
  display: block;
}
.organisatie .dark-box article img {
  display: inline-block;
  vertical-align: top;
}
.organisatie .dark-box article section {
  display: inline-block;
  vertical-align: top;
}
.organisatie .dark-box article section h4, .organisatie .dark-box article section h5 {
  font-size: 24px;
  line-height: 30px;
  color: #666666;
}
.organisatie .dark-box:nth-child(2) {
  margin-right: 1%;
}

.waarom-delen article h3 {
  font-size: 90px;
  line-height: 90px;
  color: #333333;
}
.waarom-delen article ul {
  padding-top: 110px;
  padding-bottom: 65px;
}
.waarom-delen article ul li {
  display: inline-block;
  vertical-align: top;
  max-width: 404px;
  width: 100%;
}
.waarom-delen article ul li article h4 {
  font-size: 50px;
  line-height: 45px;
  color: #333333;
  padding-top: 35px;
}
.waarom-delen article ul li article p {
  color: #9e9e9e;
  padding-top: 35px;
  font-size: 24px;
  line-height: 30px;
  width: 91%;
}
.waarom-delen article ul li + li {
  margin-left: 0.49%;
}

.veiligheid {
  margin-top: 1%;
}
.veiligheid article {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
  padding: 0px;
  height: 590px;
  margin-bottom: 1%;
  position: relative;
}
.veiligheid article h4 {
  font-size: 70px;
  line-height: 70px;
  padding: 55px 0px 25px 45px;
}
.veiligheid article p {
  color: #9e9e9e;
  font-size: 24px;
  line-height: 30px;
  padding-left: 45px;
  width: 67%;
}
.veiligheid article h5 {
  padding: 55px 0px 25px 45px;
  font-size: 50px;
  line-height: 45px;
}
.veiligheid article img {
  display: block;
  width: 100%;
}
.veiligheid article .play-video {
  background-image: url("../gfx/play-button.png");
  width: 126px;
  height: 126px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -63px;
  left: 50%;
  margin-left: -63px;
  cursor: pointer;
}
.veiligheid article:nth-child(odd) {
  margin-right: 1%;
}
.veiligheid .veiligheid-video-holder, .veiligheid .veiligheid-video-holder video {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 990;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: #fff;
  /*cursor: url('../gfx/close-video-cursor.png?v1'), default;*/
}
.veiligheid .veiligheid-video-holder span, .veiligheid .veiligheid-video-holder video span {
  position: absolute;
  top: 30px;
  right: 100px;
  font-size: 24px;
  line-height: 50px;
  z-index: 999;
  cursor: pointer;
  color: #333333;
}
.veiligheid .veiligheid-video-holder {
  display: none;
}

.security-loading-container {
  padding-top: 30px;
  height: 80px;
  margin: 0 auto;
  width: 85%;
  -webkit-transition: -webkit-transform .33s;
  transition: transform .5s;
  /* Animate the transform properties */
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.security-loading-container div.loading-security {
  width: 100%;
  height: 80px;
  background-color: #f2f2f2;
  position: relative;
  -webkit-transform: rotateX(0deg) translateZ(40px);
  transform: rotateX(0deg) translateZ(40px);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}
.security-loading-container div.loading-security span {
  display: block;
  height: 81px;
  width: 25%;
  background-color: #25ddb3;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
}
.security-loading-container div.loading-security p {
  position: absolute;
  z-index: 200;
  top: 0px;
  left: -46px;
  right: 0px;
  bottom: 0px;
  display: block;
  max-width: 100%;
  width: 100%;
  line-height: 80px;
  height: 80px;
  padding-top: 0px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  line-height: 80px;
  text-transform: uppercase;
}
.security-loading-container div.loading-security p b {
  font-weight: normal;
  color: #fff;
  font-size: 100%;
}
.security-loading-container div.security-upload-button {
  width: 100%;
  height: 80px;
  border: 1px solid #979797;
  background-color: #333333;
  position: relative;
  text-align: center;
  line-height: 80px;
  -webkit-transform: rotateX(-90deg) translateZ(-50px);
  transform: rotateX(-90deg) translateZ(-50px);
}
.security-loading-container div.security-upload-button a {
  text-transform: uppercase;
  color: #fff;
  display: block;
  height: 83px;
  width: 100%;
  font-size: 30px;
}

.security-loading-container:hover, .security-loading-container.activate-upload-progression {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

.play-video.Clicked-Step .veiligheid-video-holder {
  display: block;
}





@media screen and (max-width: 1390px) {
    .organisatie .dark-box{
		width: 39.5%;
		height: 600px;
		margin: 1% 0px;
		padding: 5%;
	}
	.organisatie .dark-box h5{
		font-size:60px;
		line-height:70px;
	}
	.organisatie .dark-box span{
		font-size:400px;
	}
	.waarom-delen article ul li {
		display: inline-block;
	    vertical-align: top;
	    width: 32%;
	    margin-right: 1%;
	}
	.waarom-delen article ul li img{
		width:100%;
	}
}


/* END security progression part */
/* Upload security overlay part */
.veiligheid-popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index:999;
}
.veiligheid-popup .overlay-veiligheid-popup {
  background-color: rgba(238, 238, 238, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.veiligheid-popup article {
  width: 957px;
  height: 700px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -522.5px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.45);
  padding: 50px 44px;
}
.veiligheid-popup span {
  position: absolute;
  top: 50px;
  right: 44px;
  font-size: 20px;
  cursor: pointer;
}
.veiligheid-popup h5 {
  font-size: 50px;
  line-height: 30px;
  color: #333333;
  padding-bottom: 110px;
}
.veiligheid-popup p.book {
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  padding-bottom: 110px;
}
.veiligheid-popup ul {
  width: 100%;
  padding-bottom: 110px;
}
.veiligheid-popup ul li {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.veiligheid-popup ul li img {
  width: 190px;
  height: 190px;
  background-color: #eeeeee;
  border: none;
  display: inline-block;
  vertical-align: top;
}
.veiligheid-popup ul li div {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding-left: 15px;
}
.veiligheid-popup ul li div p {
  font-size: 15px;
  line-height: 17px;
  color: #333333;
  padding-bottom: 30px;
}
.veiligheid-popup ul li div a {
  display: block;
  font-size: 15px;
  line-height: 17px;
  color: #333333;
  text-decoration: underline;
}
.veiligheid-popup i {
  font-size: 15px;
  line-height: 17px;
  color: #333333;
  font-style: normal;
}
.veiligheid-popup i a {
  color: #25ddb3;
}

/* End upload security overlay part */
/* Begin upload part */
.uploaden {
  background-color: #eeeeee;
  box-shadow:-1px 2px 0px rgba(0, 0, 0, 0.25);
  padding:30px 0px 0px 0px;
}
.uploaden h3 {
  font-size: 90px;
  line-height: 90px;
  color: #333333;
  padding-left:5%;
}
.uploaden header {
  padding-top: 60px;
  padding-bottom: 55px;
}
.uploaden header ul li {
  display: inline-block;
  vertical-align: top;
  max-width: 379px;
  width: 100%;
  height: 60px;
  font-size: 24px;
  color: #9e9e9e;
  padding: 0px 15px 0px 10px;
  text-transform: uppercase;
  line-height: 60px;
}
.uploaden header ul li b {
  float: right;
  font-size: 40px;
}
.uploaden header ul li.active {
  background-color: #9e9e9e;
  color: #fff;
}
.uploaden article h4 {
  font-size: 50px;
  line-height: 30px;
  color: #333333;
  padding-bottom: 60px;
}
.uploaden article p {
  color: #333333;
  font-size: 24px;
  line-height: 30px;
  width: 50%;
  padding-bottom: 50px;
}

.ng-view-form-box{
	
}
.ng-view-form-box .nav-tabs{
	border:none;
	padding-left:5%;
	padding-top:90px;
}
.ng-view-form-box .nav-tabs li{
	height: 60px;
    width: 33%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
}
.ng-view-form-box .nav-tabs li a{
	border: none;
    color: #9e9e9e;
    font-size: 24px;
    padding:0px;
    padding-left: 2%;
    height:60px;
    line-height:60px;
    text-transform: uppercase;
}
.ng-view-form-box .nav-tabs li.active a{
	background-color:#9e9e9e;
	color:#fff;
	border-radius:0px;
	border:none;
	margin:0px;
}
.ng-view-form-box #SubmissionTabsContentBox{
	padding:0px;
}
.ng-view-form-box .receiverCards{
	background-color:#fff;
}
.ng-view-form-box .submission-receiver-cards-header{
	padding-top:60px;
}
.submission-receiver-cards-header h3{
	font-size: 50px;
    line-height: 30px;
    padding-bottom:60px;
}
.submission-receiver-cards-header p{
	padding-left: 5%;
    font-size: 24px;
    padding-bottom:70px;
}
.submission-receiver-cards-header #MaxSelectableReceiverBox{
	
}
.submission-receiver-cards-header #MaxSelectableReceiverBox div{
	
}
.submission-receiver-cards-header #MaxSelectableReceiverBox span{
	padding-left: 5%;
    font-size: 24px;
}
.receiver-selection-mediapartners-container{
	padding:0px 5%;
}
.ReceiverSelectionBoxBig{
	width: 132px;
    height: 132px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
    outline: none;
}

.ReceiverSelectionBoxBig .receiverCard{
	margin-bottom: 0px;
    width: 110px;
    height: 110px;
    padding: 0px;
    border:2px solid #fff;
    position:relative;
    padding:10px;
    border-radius:4px;
    outline:none;
}
.ReceiverSelectionBoxBig .receiverCard.selected{
	border:2px solid #25ddb3;
	background-color:#fff;
}
.ReceiverSelectionBoxBig .receiverCard figure{

}
.ReceiverSelectionBoxBig .receiverCard figure img{
	width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    padding: 0px;
    border: none;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}
.ReceiverSelectionBoxBig .receiverCard .receiverCardTitle{

}
.ReceiverSelectionBoxBig .receiverCard .receiverCardTitle label{

}
.ReceiverSelectionBoxBig .receiverCard .receiverCardTitle label span{
	display: none;
}
.ReceiverSelectionBoxBig .receiverCard .receiverCardTitle label span.receiver-name-label{
	display: block;
    font-size: 10px;
    line-height: 15px;
    color: #9e9e9e;
    padding-top: 35px;
    padding-left: 10px;
}
.ReceiverSelectionBoxBig .receiverCard .receiverCardTitle .col-md-1{
	opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 0px;
    width: 0px;
    overflow:hidden;
}
.ReceiverSelectionBoxBig .receiver-description-selection article{
	display:none;
}
/* &#10141; */


.check-updates-overlay-container{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100vw;
	height:100vh;
	background-color:#eeeeee;
	z-index:999;
	display:none;
}
.check-updates-overlay-container nav{
	background-color:#eee;
	padding-top:60px;
}
.check-updates-overlay-container nav span{
	display: block;
    opacity: 1;
    text-decoration: underline;
}
.check-updates-overlay-container nav span a{
	color: #333333;
}
